Factura
<br><br>
<div class="grid">
    <form [formGroup]="facturaForm" (ngSubmit)="guardar()">


        <div class="grid form-group">
            <div class="col-6">
                <label>Fecha</label>
            </div>
            <div class="col-6">
                <p-calendar inputId="basic" formControlName="fecha"  class="form-control"></p-calendar>
            </div>
        </div>
        <div class="grid form-group">
            <div class="col-6">
                <label>Producto</label>
            </div>
            <div class="col-6">
                <p-button icon="pi pi-check" (click)="registrarProducto()"></p-button>
            </div>
        </div>

        <div class="grid form-group">
            <div class="col-6">
                <label>Cantidad</label>
            </div>
            <div class="col-6">
                <input type="text" pInputText formControlName="cantidad" class="form-control">
            </div>
        </div>
        <div class="grid form-group">
            <div class="col-6">
                <label>Precio</label>
            </div>
            <div class="col-6">
                <input type="text" pInputText formControlName="precio" class="form-control">
            </div>
        </div>
        <div class="grid form-group">
            <div class="col-6">
                <label>Cliente</label>
            </div>
            <div class="col-6">
                <p-button icon="pi pi-check" (click)="registrarCliente()"></p-button>
            </div>
        </div>


        <p-button type="submit" label="Guardar"></p-button>

    </form>

</div>

<p-dialog header="Producto" [(visible)]="dialogProducto" [style]="{width: '30vw'}">
    <div class="grid">
        <form [formGroup]="productoForm" (ngSubmit)="cerrarDialogo()">
            <div class=" grid form-group">
                <div class="col-6">
                    <label>Nombre</label>
                </div>
                <div class="col-6">
                    <input type="text" pInputText formControlName="nombre" class="form-control">
                </div>
            </div>
            <div class=" grid form-group">
                <div class="col-6">
                    <label>Precio</label>
                </div>
                <div class="col-6">
                    <input type="text" pInputText formControlName="precio" class="form-control">
                </div>
            </div>
            <div class=" grid form-group">
                <div class="col-6">
                    <label>stock</label>
                </div>
                <div class="col-6">
                    <input type="text" pInputText formControlName="stock" class="form-control">
                </div>
            </div>


            <p-button type="submit" label="Guardar"></p-button>
        </form>
    </div>
</p-dialog>

<p-dialog header="Cliente" [(visible)]="dialogCliente" [style]="{width: '30vw'}">

    <div class="grid">
        <form [formGroup]="clienteForm" (ngSubmit)="cerrarDialogo()">
            <div class=" grid form-group">
                <div class="col-6">
                    <label>Nombre</label>
                </div>
                <div class="col-6">
                    <input type="text" pInputText formControlName="nombre" class="form-control">
                </div>
            </div>
            <div class=" grid form-group">
                <div class="col-6">
                    <label>Apellido</label>
                </div>
                <div class="col-6">
                    <input type="text" pInputText formControlName="apellido" class="form-control">
                </div>
            </div>
            <div class=" grid form-group">
                <div class="col-6">
                    <label>Dirección</label>
                </div>
                <div class="col-6">
                    <input type="text" pInputText formControlName="direccion" class="form-control">
                </div>
            </div>
            <div class=" grid form-group">
                <div class="col-6">
                    <label>Fecha de nacimiento</label>
                </div>
                <div class="col-6">
                    <p-calendar inputId="basic" formControlName="fechaNacimiento"  class="form-control"></p-calendar>
                </div>
            </div>

            <div class=" grid form-group">
                <div class="col-6">
                    <label>Teléfono</label>
                </div>
                <div class="col-6">
                    <input type="text" pInputText formControlName="telefono" class="form-control">
                </div>
            </div>

            <div class=" grid form-group">
                <div class="col-6">
                    <label>Email </label>
                </div>
                <div class="col-6">
                    <input type="text" pInputText formControlName="email" class="form-control">
                </div>
            </div>


            <p-button type="submit" label="Guardar"></p-button>
        </form>
    </div>
</p-dialog>